<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMDBApiKey</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzOGU3NTFjYWE5Zjc5ZDliZmNiYjIzZjg0NjA4ZmNkNyIsIm5iZiI6MTc1MTUxMzU0NS4yOTc5OTk5LCJzdWIiOiI2ODY1ZjljOTIzNzBlZjM1ZjlkYTQyZjgiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.gS2SL-3xDZpVN9ojkh_2rmv0mR5RdNK8aIG4WLPvTgg</string>
</dict>
</plist>
